/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* root color */

:root {
  --md-sys-color-primary: rgb(210 194 255);
  --md-sys-color-surface-tint: rgb(206 189 254);
  --md-sys-color-on-primary: rgb(26 9 66);
  --md-sys-color-primary-container: rgb(152 135 197);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(208 199 224);
  --md-sys-color-on-secondary: rgb(24 19 37);
  --md-sys-color-secondary-container: rgb(149 141 164);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(243 188 205);
  --md-sys-color-on-tertiary: rgb(43 11 24);
  --md-sys-color-tertiary-container: rgb(181 131 147);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(20 18 24);
  --md-sys-color-on-background: rgb(230 225 233);
  --md-sys-color-surface: rgb(20 18 24);
  --md-sys-color-on-surface: rgb(255 249 255);
  --md-sys-color-surface-variant: rgb(73 69 78);
  --md-sys-color-on-surface-variant: rgb(206 200 212);
  --md-sys-color-outline: rgb(166 161 171);
  --md-sys-color-outline-variant: rgb(134 129 139);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 225 233);
  --md-sys-color-inverse-on-surface: rgb(43 41 47);
  --md-sys-color-inverse-primary: rgb(77 63 119);
  --md-sys-color-primary-fixed: rgb(232 221 255);
  --md-sys-color-on-primary-fixed: rgb(21 3 61);
  --md-sys-color-primary-fixed-dim: rgb(206 189 254);
  --md-sys-color-on-primary-fixed-variant: rgb(59 45 100);
  --md-sys-color-secondary-fixed: rgb(232 222 248);
  --md-sys-color-on-secondary-fixed: rgb(19 14 32);
  --md-sys-color-secondary-fixed-dim: rgb(203 195 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(57 51 71);
  --md-sys-color-tertiary-fixed: rgb(255 217 227);
  --md-sys-color-on-tertiary-fixed: rgb(36 6 19);
  --md-sys-color-tertiary-fixed-dim: rgb(239 184 200);
  --md-sys-color-on-tertiary-fixed-variant: rgb(80 43 56);
  --md-sys-color-surface-dim: rgb(20 18 24);
  --md-sys-color-surface-bright: rgb(59 56 62);
  --md-sys-color-surface-container-lowest: rgb(15 13 19);
  --md-sys-color-surface-container-low: rgb(29 27 32);
  --md-sys-color-surface-container: rgb(33 31 36);
  --md-sys-color-surface-container-high: rgb(43 41 47);
  --md-sys-color-surface-container-highest: rgb(54 52 58);
}




/* Remove default margin */
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0 0 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */

html{
    background-color: var(--md-sys-color-surface-container-lowest);
    line-height: 1.5;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    margin: 0;
}

/* A elements that don't have a class get default styles */
a {
    text-decoration-skip-ink: auto;
    color: var(--md-sys-color-on-background);
}

a:hover,
a:focus{
    color: var(--md-sys-color-primary);
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

svg{
    fill: currentColor;
}

svg:not(:root){
    overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}



/* ---------- Typography ---------- */

h1 {
  font-size: 2.019rem;
  line-height: 1.3;
  color: var(--md-sys-color-on-background);
}

h2 {
  font-size: 1.756rem;
  line-height: 1.3;
  color: var(--md-sys-color-on-background);
}

h3 {
  font-size: 1.525rem;
  margin-bottom: 0;
  text-transform: uppercase;
  line-height: 1.3;
  color: var(--md-sys-color-on-background);
}

h4 {
  font-size: 1.325rem;
color: var(--md-sys-color-on-background);
  margin: 0;
  line-height: 1.3;
}

h5 {
  font-size: 1.15rem;
  color: var(--md-sys-color-on-background);
  font-weight: normal;
  line-height: 1.3;
}

h6 {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--md-sys-color-on-background);
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 45em) {
  h1 {
    font-size: 2.481rem;
  }

  h2 {
    font-size: 2.069rem;
  }

  h3 {
    font-size: 1.725rem;
  }

  h4 {
    font-size: 1.438rem;
  }

  h5 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 60em) {
  h1 {
    font-size: 3.056rem;
  }

  h2 {
    font-size: 2.444rem;
  }

  h3 {
    font-size: 1.956rem;
  }

  h4 {
    font-size: 1.563rem;
  }

  h5 {
    font-size: 1.25rem;
  }
}
p {
    font-size: 1.25rem; 
    color: var(--md-sys-color-on-background);
}

@media only screen and (min-width: 45em) {
    p {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 60em) {
    p {
        font-size: 1.75rem;
    }
}

/*  ---------- HEADER ------------------ */

@media only screen and (max-width: 60em) {
    .container--header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 3rem;
    }
    .container--header ul {
        margin-top: 1rem; 
    }
    .header--title {
        font-size: 1.563rem;
        margin-bottom: 1rem; 
    }
    .container--header a {
        margin-bottom: 0.5rem; 
    }
}

.container--header { 
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.container--header ul { 
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.container--header li {
       margin: 1rem;
}
.header--title { 
    display: flex;
    font-size: 1.563rem;
}
.container--header a { 
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
}

.container--header a:hover,
.container--header a:focus {
    outline: 2px solid var(--md-sys-color-on-primary); 
}
.container--header a:hover,
.container--header a:focus {
    background-color: var(--md-sys-color-primary); 
    color: var(--md-sys-color-on-primary); 
}
.container--header a {
    transition: background-color 0.3s ease, color 0.3s ease;
}

/*  ---------- BANNER    ------------------ */

.banner--color { 
    display: flex;
    align-items: center;
    flex-grow: 1;
    background: rgb(15,13,19);
    background: linear-gradient(180deg, rgba(15,13,19,1) 0%, rgba(43,41,47,0.7555960323033708) 40%, rgba(15,13,19,1) 100%);
}
.banner--links { 
    display: flex;
    padding: 1rem;
    margin: 0;
    gap: 1.5rem;
    justify-content: center;
}

.banner--links li a {
    display: flex;
    padding: 0.5rem;
}
.banner--links li a:hover, 
.banner--links li a:focus {
    background-color: var(--md-sys-color-primary-container); 
    color: var(--md-sys-color-primary-container); 
}
.banner--links img{
    height: 2.3rem;
}

@media only screen and (min-width: 45em) {
   .banner--links { 
    display: flex;
    padding: 1rem;
    margin: 0;
    gap: 1.7rem;
    justify-content: center;
}
.banner--links img{
    height: 2.5rem;
}
}

@media only screen and (min-width: 60em) {
   .banner--links { 
    display: flex;
    padding: 1rem;
    margin: 0;
    gap: 2rem;
    justify-content: center;
}

.banner--links img{
    height: 3rem;
}
}
.container--banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner--background {
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 0.5rem solid var(--md-sys-color-primary-container);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -10rem;
    z-index: 100000;
    transition: border-color 0.3s ease;
}

.banner--background:hover {
    border-color: var(--md-sys-color-surface-tint); /* Adjust the color as needed */
}

.banner--background img {
    border: 0.75rem solid var(--md-sys-color-on-primary);
    height: 15rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media only screen and (min-width: 45em) {
       .banner--background {
    height: 20rem;
    width: 20rem;
    border: 0.8rem solid var(--md-sys-color-primary-container);
    margin-bottom: -10rem;
}
    .banner--background img {
    border: 1rem solid var(--md-sys-color-on-primary);
    height: 18rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
 
}

@media only screen and (min-width: 60em) {
    .banner--background {
    height: 22rem;
    width: 22rem;
    border: 1rem solid var(--md-sys-color-primary-container);
    margin-bottom: -10rem;
}
.banner--background img {
    border: 0.75rem solid var(--md-sys-color-on-primary);
    height: 20rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
}
.banner--content{
    background-color: var(--md-sys-color-surface-container-lowest);
    padding-top: 12rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 3rem;
    border-bottom: 0.5rem solid var(--md-sys-color-primary-container);
}
.banner--text { 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ------ ABOUT -------*/
.about--container {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.about--article h2{
    text-align: center;

}

.special--text {
    font-weight: 800;
    color: var(--md-sys-color-surface-tint);
}
